{% extends "::base.html.twig" %}
{% block header %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GovWiki</a>
        </div>
    </div>
</nav>
{% endblock %}
