.idea
/web/legacy/node_modules
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/img/
/web/uploads
/bower_components/*
/node_modules/*
src/GovWiki/FrontendBundle/Resources/public/css/
src/GovWiki/FrontendBundle/Resources/public/js/
