.idea
/app/bootstrap.php.cache
/app/cache/*
!/app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!/app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/

/node_modules/
/bower_components/

/web/img/*

!/web/img/.gitkeep
!/web/img/locales/
!/web/img/upload/.gitkeep
!/web/img/upload/shape/.gitkeep
!/web/img/loading.gif
!/web/img/clear.png

/web/css/*
!/web/css/.gitkeep

/web/documents
!/web/documents/.gitkeep

/web/bundles/

*~

