{% if tabName == 'Employee Compensation' %}
    <div class="col-sm-4">
        <div class="customGraph" id="median-comp-graph"></div>

        <div class="customGraph" id="median-pension-graph"></div>
        <div class="customGraph"></div>
    </div>
{% endif %}