@import url('https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css');

.dataTables_wrapper select[name="documents-table_length"] {
  padding: 2px 15px 2px 2px;
}

.dataTable {
  background-color: #F3F3F3;
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0;

  a {
    text-decoration: none;
  }

  th {
    background-color: #FE4902;
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
    text-align: left;
    padding-left: 35px;

    small {
      font-size: 9px;
    }

    a {
      padding-left: 0
    }

    &.sorting,
    &.sorting_asc,
    &.sorting_desc {
      background-position-x: 10px;
    }
  }

  td {
    text-align: left;

    a {
      color: #663300;
      display: block;
      padding: 5px 10px;
    }
  }

  tr {

    &:nth-of-type(odd) {
      background-color: #E6E6E6;
    }

    &:hover {
      td {
        background-color:#CACACA;
        cursor: pointer;

        a {
          color: #000;
        }
      }
    }
  }

  .document {
    td:first-of-type {
      padding-left: 15px;
    }

    &--field {
      &__file-size {
        width: 55px;
        text-align: right;
      }

      &__actions {
        width: 30%;
        text-align: right;
      }
    }

    &-action {
      display: inline;
    }
  }
}

.dataTables_filter {
  margin-right: 10px;
}

.dataTables_length {
  margin: 5px;
}

.path-breadcrumb {
  padding: 10px;
  list-style: none;

  li {
    display: inline;
    font-weight: bold;

    &:before {
      content: '/';
      margin: 0 5px;
    }
  }
}