<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# TODO: Need to show environment favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# Stylesheets #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {# Header #}
        <header class="container">
            {% block header %}{% endblock %}
        </header>

        {# Main content #}
        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {# Footer #}
        <footer class="container">
            {% block footer %}{% endblock %}
        </footer>

        {# Modal windows#}
        {% block modal %}{% endblock %}

        {# Javascripts #}
        {% block javascripts %}{% endblock %}

    </body>
</html>
