<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# TODO: Need to show environment favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        {# Stylesheets #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {# Header #}
        <header class="container">
            {% block header %}{% endblock %}
        </header>

        {# Main content #}
        <main class="container">
            {# breadcrumb #}
            {% set _breadcrumb = block('breadcrumb') %}
            {% if (_breadcrumb) %}
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        {{ _breadcrumb|raw }}
                    </ol>
                </div>
            {% endif %}
            {% block flashMessages %}{% endblock %}
            {% block body %}{% endblock %}
        </main>

        {# Footer #}
        <footer class="container">
            {% block footer %}{% endblock %}
        </footer>

        {# Overflow all page and show loader (disabled via script.js) #}
        {#<div class="loader_wrap">
            <div class="loader_content">
                <div class="loader"></div>
                <h5 class="text-center"></h5>
            </div>
        </div>#}
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


        {# Modal windows#}
        {% block modal %}{% endblock %}

        {# Javascripts #}
        {% block javascripts %}




        {% endblock %}

    </body>
</html>
