<!-- Public Statements Modal -->
<div class="modal fade" id="addStatements" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-entity-type="PublicStatement">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new Statements</h4>
            </div>
            <div class="modal-body">
                <form name="addStatements">
                    <div class="input-group">
                        <span class="input-group-addon">Category: </span>
                        <select class="form-control" data-issue-category></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Date: </span>
                        <input type="text" class="form-control" placeholder="Please enter Date" data-date data-provide="datepicker">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Summary: </span>
                        <input type="text" class="form-control" placeholder="Please enter Summary" data-summary>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">URL: </span>
                        <input type="text" class="form-control url-input" placeholder="Please enter URL" data-url>
                    </div>
                    <div id="url-statement" class="url-content">
                        <img class="url-content-img">
                        <div class="url-content-title"></div>
                        <div class="url-content-body"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="window.addItem(event)">Add</button>
            </div>
        </div>
    </div>
</div>