
/* ========================= */
/* ========== MAP ========== */
/* ========================= */

.government {

   .f-nam {
      min-width: 540px;
      display: inline-block;
      color: #666;
      text-align: left;
      margin-right: 5px;
      border-bottom: 1px dotted #ddd;
      vertical-align: top;
   }

   .f-val {
      min-width: 160px;
      display: inline-block;
      color: #000;
      text-align: right;
      margin-left: 5px;
   }

   .portrait {
      width: 121px;
      float: right;
   }

}
