
/* ==================================== */
/* ====== Government Controller ======= */
/* ==================================== */

@import "main";

.governmentController {

   nav a {
      display: inline-block;
      margin-top: 10px;
   }

   header {

      h3 {
         color: $main-text;
      }

   }

   section {

      @import "partials/loader/loader";

      nav {
         margin-bottom: 30px;

         a {
            font-size: 1.4em;
         }
      }

      .statistics {
         font-size: 1.4em;

         .f-nam {
            min-width: 540px;
            display: inline-block;
            color: #666;
            text-align: left;
            margin-right: 5px;
            vertical-align: top;
            font-size: 120%;
         }

         .f-nam__bold {
            font-weight: bold;
         }

         .f-nam__italic {
            font-style: italic;
         }

         .f-nam__underline {
            text-decoration: underline;
         }

        .currency-symbol {
          padding-left: 40px;
        }

         .statistics-table {
            width: 100%;

            tr {

               td {
                  border-bottom: 1px dotted #ddd;
                  white-space: nowrap;

                  &:nth-child(1) {
                     color: #666;
                  }

                  &:nth-child(2) {
                     color: #000;
                     text-align: right;
                     border: none;
                  }

                  a.rank {
                     font-style: italic;
                     font-size: 75%;
                     cursor: pointer;
                  }

               }

            }

         }

      }

      .person {
         width: 100%;
         margin-top: 20px;
         border-bottom: 1px dotted #ddd;

         &-info {
            width: 79%;
            vertical-align: top;
            font-size: 1.4em;
            display: inline-block;
            min-width: 79%;

            p {
               margin-bottom: 0;
            }

         }

         &-photo {
            width: 20%;
            display: inline-block;

            img {
               width: 100%;
               float: right;
            }

         }
      }

      @import "partials/rank-popover/rank-popover";

   }


}
