
/* ==================================== */
/* ====== Government Controller ======= */
/* ==================================== */

@import "main";

.governmentController {

   nav a {
      display: inline-block;
      margin-top: 10px;
   }

   header {

      h3 {
         color: $main-text;
      }

   }

   section {

      @import "partials/loader/loader";

      nav {
         margin-bottom: 30px;

         a {
            font-size: 1.4em;
         }
      }

      .statistics {

         .statistics-table {
            width: 70%;

            tr {

               td {
                  border-bottom: 1px dotted #ddd;
                  font-size: 1.3em;

                  &:nth-child(1) {
                     min-width: 60%;
                     padding-right: 30px;
                     color: #666;
                  }

                  &:nth-child(2) {
                     padding-left: 30px;
                     color: #000;
                  }

                  a.rank {
                     font-style: italic;
                     font-size: 75%;
                     cursor: pointer;
                  }

               }

            }

         }

      }

      .person {
         width: 70%;
         margin-top: 20px;
         border-bottom: 1px dotted #ddd;

         &-info {
            width: 60%;
            vertical-align: top;
            font-size: 1.4em;
            display: inline-block;
            min-width: 60%;

            p {
               margin-bottom: 0;
            }

         }

         &-photo {
            width: 20%;
            display: inline-block;

            img {
               width: 100%;
               float: right;
            }

         }
      }

      @import "partials/rank-popover/rank-popover";

   }


}
