
/* ============================= */
/* ======== Main layout ======== */
/* ============================= */

@import "variables";
@import "partials/loader/loader";
@import "partials/head/head";
@import "partials/footer/footer";

html, body, #map {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   font-size: 13px;
}

body {
   background-color: $body-background;
}


main {
   background-color: white;
   padding: 0 15px;
}


/* ===================================================== */
/* ======== Customize bootstrap & global styles ======== */
/* ===================================================== */

a {
   color: $main-text;
}

i.icon {
   background: url("/bundles/govwikifrontend/img/bg.gif");
   width: 21px;
   height: 9px;
   display: inline-block;

   &.icon__bottom {
      height: 4px;
      margin-bottom: 4px;
      background: url("/bundles/govwikifrontend/img/desc.gif");
   }

   &.icon__top {
      height: 4px;
      margin-bottom: 4px;
      background: url("/bundles/govwikifrontend/img/asc.gif");
   }

}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
   background-color: $main-background;
}

/*
  Set z-index for date picker.
*/
.datepicker-dropdown {
  z-index: 10000 !important;
}

/* ========================= */
/* ======== CartoDB ======== */
/* ========================= */

div.cartodb-tooltip {
   min-width: inherit;
   margin-top: 10px;
   margin-left: 10px;
}

div.cartodb-tooltip-content-wrapper {
   background-color: rgba(0, 0, 0, 0.9);
}

div.cartodb-tooltip-content-wrapper p {
   color: white;
}

.leaflet-tile-pane .leaflet-layer:last-child{
   z-index: 1000;
}

