
/* ============================= */
/* ======== Main layout ======== */
/* ============================= */

@import "variables";
@import "partials/head/head";
@import "partials/footer/footer";

html, body, #map {
   height: 100%;
   padding: 0;
   margin: 0;
   font-size: 13px;
}

body {
   background-color: $body-background;
}


main {
   background-color: white;
   padding: 0 15px;
}


/* ===================================================== */
/* ======== Customize bootstrap & global styles ======== */
/* ===================================================== */

a {
   color: $main-text;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
   background-color: $main-background;
}

/* ========================= */
/* ======== CartoDB ======== */
/* ========================= */

div.cartodb-tooltip {
   min-width: inherit;
   margin-top: 10px;
   margin-left: 10px;
}

div.cartodb-tooltip-content-wrapper {
   background-color: rgba(0, 0, 0, 0.9);
}

div.cartodb-tooltip-content-wrapper p {
   color: white;
}

.leaflet-tile-pane .leaflet-layer:last-child{
   z-index: 1000;
}

