header,
footer {
    background-color: #0b4d70;
    -webkit-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
    box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
    z-index: 1;
    position: relative;
}

header {
    height: 80px;
    padding-top: 10px;
}