
/* ============================= */
/* ====== Map Controller ======= */
/* ============================= */

@import "main";

.mapController {
   margin-bottom: 20px;

   @import "partials/typeahead/typeahead";

   @import "partials/map/map";

   .intro-text {

      .title h3{
         text-align: center;
         color: $main-text;
      }

      .content {
         font-size: 16px;
      }

   }

}
