imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    #
    # Rewrite default JMS Serialization nameing strategy.
    #
    jms_serializer.camel_case_naming_strategy.class: GovWiki\ApiBundle\Serializer\GovWikiNamingStrategy

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig', 'php']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources: ['bootstrap_3_layout.html.twig']
#    exception_controller:  GovWikiApiBundle:Exception:showException

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ 'GovWikiAdminBundle', 'GovWikiFrontendBundle' ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        scss:
            bin: '/usr/local/bin/scss'
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        dql:
            numeric_functions:
                regexp: GovWiki\DbBundle\Doctrine\Functions\RegexpFunction



# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# KnpPaginatorBundle Configuration
knp_paginator:
    template:
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig

# StofDoctrineExtension Configuration
stof_doctrine_extensions:
    orm:
        default:
            sluggable:     true
            timestampable: true

# FosUserBundle Configuration
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: GovWiki\UserBundle\Entity\User

# JmsSerializationBundle Configuration
jms_serializer:
    property_naming:
        separator: ~
        lower_case: false

# IvoryCkEditorBundle Configuration
ivory_ck_editor: ~

# CartoDbBundle Configuration
carto_db:
    api_key: %carto_db.api_key%
    account_name: %carto_db.account%
