imports:
    - { resource: config.yml }

assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:
        - 'GovWikiFrontendBundle'

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_prod.yml"
        strict_requirements: ~

#framework:
#    validation:
#        cache: validator.mapping.cache.apc
#    serializer:
#        cache: serializer.mapping.cache.apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        console:
            type:  console