<div class="modal fade" id="{{- id -}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ id }}-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-{{ id }}-label">
                    {{- title|default('') -}}
                </h4>
            </div>
            <div style="position: relative">
                {%- block content -%}
                {%- endblock content -%}
                <div class="loader-wrapper" style="display: none"><div class="loader"></div></div>
            </div>
        </div>
    </div>
</div>