<h4>Dear {{ full_name }},</h4>

<p>
    New account has been created. Now you can log in to your account using this username and password:<br>
    Username: {{ username }}<br>
    Password: {{ password }}
</p>
<p>
    The California Policy Center is dedicated to serving the community by providing detailed information on local politicians.
</p>
<p>
    Thank you.
</p>