{%- for category in tab.categories -%}
    {%- if category.name != 'Main' -%}
        {# Display category content #}
        <div class="f-nam f-nam__{{- category.decoration -}}">
            {{- ('groups.group_id_'~category.id)|trans -}}
        </div>
    {%- endif -%}
    {{-
    include('@GovWikiFrontend/Partial/Government/badge-category.html.twig')
    -}}
{%- endfor -%}