
/* ================================== */
/* ========== Range Legend ========== */
/* ================================== */


.cartodb-legend {

  // Vertical legend
  &.custom.vertical {
    padding: 0;

    .legend-title {
      padding: 10px 15px;
      margin: 0;
      width: 100px;
      text-align: center;
    }

    li {
      display: block;
      padding: 10px 15px;
      text-align: center;
      height: auto;
      background-color: #dff0d8;
      margin: 0;

      &:hover {
        background-color: #dff0d8;
        cursor: pointer;
      }

      .bullet {
        float: none;
        display: inline-block;
      }

    }


  }

  // Horizontal legend
  &.custom.horizontal {
    padding: 0;

    .legend-title {
      padding: 10px 15px;
      margin: 0;
      text-align: center;
    }

    li {
      display: block;
      float: left;
      padding: 10px 15px;
      margin: 0;
      text-align: center;
      height: auto;
      background-color: #dff0d8;

      &:hover {
        background-color: #dff0d8;
        cursor: pointer;
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.08);
      }

      .bullet {
        float: none;
        display: inline-block;
      }

    }


  }

}