<div role="tabpanel" class="tab-pane" id="Ranks">
    <h3>Ranks</h3>
    <div class="panel-group" id="ranks-accordions">
        {#
            Iterate over tabs.
        #}
        {% for tab, fields in formats %}
            {% set panel_id = 'tab_ranks_' ~ loop.index %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#ranks-accordions" href="#{{ panel_id }}">{{ tab }}</a>
                    </h4>
                </div>
                <div id="{{ panel_id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {#
                            Iterate over fields in tab.
                        #}
                        {% for name in fields|keys %}
                            {#
                                Add only rank field.
                            #}
                            {% if fields[name].ranked %}
                                {{ form_row(form[name ~ 'Rank']) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

