<div role="tabpanel" class="tab-pane" id="Statements">
    <div class="tab-pane-main">
        {% include '@GovWikiMobile/Partial/Elected/Lists/statements.html.twig' with {
            'list': publicStatements
        } %}
    </div>
</div>
