<div role="tabpanel" class="tab-pane active" id="Votes">
    <div class="tab-pane-main">
        {% include '@GovWikiMobile/Partial/Elected/Lists/votes.html.twig' with {
            'list': votes
        } %}
    </div>
</div>
