.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
/*border: 2px solid #ccc;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
  padding-left: 10px !important;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #ddd !important;
}
.tt-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  cursor: default;
}
.tt-suggestion {
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.sugg-box {
  position: relative;
  border-bottom: 0 solid #eee;
/*min-height: 60px;*/
  overflow: hidden;
}
.sugg-state {
/*width: 70px;*/
  top: 0;
  left: 0;
  margin-right: 20px;
  float: left;
  z-index: 0;
/*position: absolute;*/
  font-size: 18px;
  color: #337ab7;
/*#59e;*/
  font-weight: bold;
}
.sugg-name {
/*min-width:370px;*/
/*margin-left: 80px;*/
/*margin-top:15px; */
  font-size: 20px;
  display: inline;
  text-transform: uppercase;
}
.sugg-type {
  font-size: 70%;
  color: #337ab7;
/*#59e;*/
/*text-transform: capitalize;*/
  float: right;
/*position: absolute;*/
  top: 36px;
  right: 0;
  line-height: 100%;
}

.f-nam {
  min-width: 540px;
  display: inline-block;
  color: #666;
  text-align: left;
  margin-right: 5px;
  border-bottom: 1px dotted #ddd;
  vertical-align: top;
}
.f-val {
  min-width: 160px;
  display: inline-block;
  color: #000;
  text-align: right;
  margin-left: 5px;
}
.portrait {
  width: 121px;
  float: right;
}
.search-form input {
  height: 40px;
}
.search-form select {
  height: 40px;
  color: #337ab7;
}
.search-form .info {
  text-transform: uppercase;
  opacity: 0.5;
  padding-right: 20px;
  padding-left: 20px;
}
.gov-counter {
  color: #337ab7;
/*font-weight:bold;*/
  font-size: 110%;
}
.one-tab {
  min-height: 400px;
}
#details {
  margin-top: 10px;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
}
#fieldTabs {
  font-size: 140%;
}
#tabsContent {
  font-size: 140%;
  line-height: 2;
}
#pBackToSearch {
  padding-top: 10px;
}

#header {
  height: 80px;
}
#brand {
  padding: 10px;
  width: 390px;
  line-height: 1;
}
#brand-first-line {
  color: #fff;
  text-transform: uppercase;
}
#brand-second-line {
  font-size: 55%;
  font-weight: normal;
}
#searchIcon {
  display: none;
}
#stantonIcon {
  display: none;
}
#dataContainer {
  background-color: #fff;
  display: none;
}
body {
  background-color: #d1d1d1;
}
#logo {
  width: 206px;
  border: 1px solid #fff;
  vertical-align: middle;
  margin: 10px;
  margin-top: 12px;
}
.navbar-inverse {
  background-color: #074d71;
}
h3,
a {
  color: #074d71;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #074d71;
}
.media-tooltip + .tooltip .tooltip-inner {
  background-color: #074d71;
  max-width: 350px;
  border-radius: 0;
  opacity: 1;
  overflow: auto;
  max-height: 150px;
  text-align: justify;
}
.media-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: #074d71;
  border-top-color: #074d71;
}
.media-tooltip + .tooltip > .in {
  opacity: 1;
  filter: alpha 90;
}
.truncate {
  width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.f-nam-margin {
  margin-top: -10px;
}
#legend {
  margin-right: 7px;
}
#legend > .panel-heading {
  padding: 8px;
  min-width: 111px;
}
#legend > ul > li.list-group-item {
  padding: 8px 8px 8px 19px;
  position: relative;
  cursor: pointer;
}
#legend > ul > li.list-group-item span.glyphicon-ok {
  position: absolute;
  left: 8px;
  top: 12px;
}
#legend > ul > li.list-group-item:not(.active):hover {
  background-color: #eee;
}
#legend > ul > li.list-group-item:not(.active) span.glyphicon-ok {
  display: none;
}
#legend > ul > li.active {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#legend > ul > li.active:hover {
  background-color: #d0e9c6;
}
.fin-values-block {
  margin-top: 10px;
}
/*currency sign styles*/
.currency-sign {
  position: absolute;
}
.label-tooltip {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
/* second footer style */
#socket {
  font-size: 11px;
  margin-top: -1px;
  z-index: 1;
  -webkit-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
  -moz-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
  box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
}
#socket .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
#socket .copyright {
  line-height: 1.5em;
  float: left;
}
#socket .social_bookmarks {
  float: right;
  margin: -10px 0 0 30px;
  position: relative;
}
#top .social_bookmarks {
  height: 30px;
  z-index: 150;
  -webkit-backface-visibility: hidden;
}
#socket .sub_menu_socket {
  float: right;
  margin: 0;
}
.socket_color {
  background-color: #003958;
  color: #eee;
}
.socket_color a {
  color: #fff;
}
.social_bookmarks li {
  background: transparent;
}
#socket .social_bookmarks li {
  border-radius: 300px;
  border: none;
  overflow: hidden;
  top: 5px;
  position: relative;
}
#top .social_bookmarks li {
  height: 100%;
  float: left;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-right-style: solid;
  border-right-width: 1px;
  display: block;
  width: 30px;
}
#socket .sub_menu_socket div {
  overflow: hidden;
}
#socket .menu {
  margin-top: 6px;
}
#socket .sub_menu_socket li {
  float: left;
  display: block;
  padding: 0 10px;
  line-height: 10px;
}
#header {
  background-color: #0b4d70;
  height: 80px;
  padding-top: 10px;
  -webkit-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
  -moz-box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
  box-shadow: 2px 5px 22px -1px rgba(0,0,0,0.49);
  z-index: 1;
  position: relative;
}
.logo img {
  width: auto;
  height: auto;
  max-height: 100%;
  image-rendering: auto;
  position: relative;
  z-index: 2;
  transition: opacity 0.4s ease-in-out;
}
ul.search-icon li > a {
  color: #b2dbfb;
}
ul.search-icon li > a:hover {
  background-color: #3b708c;
}
a.rank {
  font-style: italic;
  font-size: 75%;
  cursor: pointer;
}
/*map legend circles*/
.marker-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.red-circle {
  background: #f00;
}
.blue-circle {
  background: #add8e6;
}
.purple-circle {
  background: #800080;
}
.counties-trigger .grey-line {
  width: 12px;
  height: 2px;
  background: #808080;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #median-comp-graph {
    float: left;
  }
  #median-pension-graph {
    float: left;
  }
  #pct-pension-graph {
    float: left;
  }
  #public-safety-pie {
    float: left;
  }
  #fin-health-revenue-graph {
    float: left;
  }
  #fin-health-expenditures-graph {
    float: left;
  }
}
@media screen and (max-width: 991px) {
  #maparea {
    margin-right: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #details {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .top-links-wrapper {
    float: none !important;
    text-align: center !important;
  }
  .county-title {
    clear: both;
    text-align: center;
    margin-bottom: 15px !important;
  }
  #fieldTabs {
    text-align: center;
  }
  #fieldTabs > li {
    float: none;
    display: inline-block;
  }
  #median-comp-graph {
    float: left;
    margin-left: -20px;
  }
  #median-pension-graph {
    float: left;
    margin-left: -20px;
  }
  #pct-pension-graph {
    float: left;
    margin-left: -20px;
  }
  #public-safety-pie {
    float: left;
    margin-left: -20px;
  }
  #fin-health-revenue-graph {
    float: left;
    margin-left: -20px;
  }
  #fin-health-expenditures-graph {
    float: left;
    margin-left: -20px;
  }
  .f-nam {
    min-width: 100%;
    margin-right: 0;
  }
  .f-val {
    margin-left: 0;
    min-width: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 530px) {
  .top-links-wrapper a {
    display: block;
    margin-bottom: 10px;
  }
}
.person-info-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.person-info-content p {
  margin-bottom: 10px;
}
.person-info-tabs {
  margin-top: 20px;
}
.person-photo {
  width: 170px;
}
.vote {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  width: 30px;
  height: 30px;
  background-image: url("../img/comment.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2px;
}
.mw-editsection {
  font-size: 12px;
}
.loader {
  margin: 60px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(200,200,200,0.5);
  border-right: 2px solid rgba(200,200,200,0.5);
  border-bottom: 2px solid rgba(200,200,200,0.5);
  border-left: 2px solid #0b4d70;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.7s infinite linear;
  animation: load8 0.7s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.modal-dialog {
  z-index: 10000;
}
td {
  vertical-align: middle !important;
}
.add {
  color: #0b4d70;
  text-align: center;
  cursor: pointer;
}
.add:hover {
  background-color: #0b4d70;
  color: #fff;
}
.edit {
  color: #d3d3d3;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}
.editable {
  text-decoration: none !important;
  color: #000 !important;
  border-bottom: none !important;
}
th {
  vertical-align: middle !important;
}
.blue-circle {
  background: #00f;
}
.list-group-item .grey-line {
  width: 12px;
  height: 2px;
  background: #808080;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
}
/*
    By some reasons bootstrap datepicker arrow icons is broken
    this part of css fix it.
*/
.icon-arrow-left,
.icon-arrow-right {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\e091";
}
.icon-arrow-right:before {
  content: "\e092";
}
/*

*/
#electedVotes .input-group {
  width: 100%;
}
.input-group textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
}
/*
    Set icon for sortable columns.
*/
.sort {
  white-space: nowrap;
}
i.icon {
  background: url("/legacy/img/bg.gif");
  width: 21px;
  height: 9px;
  display: inline-block;
}
i.icon__bottom,
i.icon__top {
  height: 4px;
  margin-bottom: 4px;
}
i.icon__bottom {
  background: url("/legacy/img/desc.gif");
}
i.icon__top {
  background: url("/legacy/img/asc.gif");
}
/*
    Url preview.
*/
.url-content {
  padding: 0 16px;
  display: none;
  margin-top: 5px;
}
.url-content-img {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.url-content-title {
  font-weight: bold;
}
.url-content-body {
  padding: 5px 2px;
}
/*
    Login
*/
#user-text a:hover {
  background-color: transparent;
}
#user-text a {
  padding-right: 0;
}
#details .nav {
  font-size: 140%;
}
/*
    Entity notice
*/
.notice {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #f7a4af;
  box-shadow: 0 1px 4px rgba(255,0,0,0.6);
}
.popover-title {
  padding: 0;
  border-bottom: none;
  border-radius: 0;
}
.popover-btn {
  width: 48%;
  display: inline-block;
  text-align: right;
}
.popover-btn a {
  background-color: #fff;
  border: 1px solid #074d71;
  color: #074d71;
  border-radius: 3px;
  padding: 5px 10px;
}
.popover-btn a:hover {
  background-color: #074d71;
  color: #fff;
  text-decoration: none;
}
.popover {
  width: 280px;
}
.popover-title-custom {
  margin: 0;
  padding: 8px 14px;
  font-size: 13px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 2px 2px 0 0;
}
.popover-content {
  overflow-y: scroll;
  height: 300px;
}
.popover-content table th {
  cursor: pointer;
}
.popover-content table th:first-child {
  width: 80%;
}
.popover-content table th:last-child {
  width: 19%;
}
.popover-content table th,
.popover-content table td {
  font-size: 80%;
}
/*
  Legislation table columns.
*/
.legislation-column-date {
  width: 112px;
}
.legislation-column-vote,
.legislation-column-sponsored,
td[data-vote] {
  text-align: center;
}
.legislation-column-vote {
  width: 115px;
}
.custom-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#City .fixed-th-table-wrapper td,
#County .fixed-th-table-wrapper td,
#School_District .fixed-th-table-wrapper td,
#Special_District .fixed-th-table-wrapper td,
#City .fixed-th-table-wrapper th,
#County .fixed-th-table-wrapper th,
#School_District .fixed-th-table-wrapper th,
#Special_District .fixed-th-table-wrapper th,
#City .scrolled-td-table-wrapper td,
#County .scrolled-td-table-wrapper td,
#School_District .scrolled-td-table-wrapper td,
#Special_District .scrolled-td-table-wrapper td,
#City .scrolled-td-table-wrapper th,
#County .scrolled-td-table-wrapper th,
#School_District .scrolled-td-table-wrapper th,
#Special_District .scrolled-td-table-wrapper th {
  background: #fff;
}
#City .fixed-th-table-wrapper,
#County .fixed-th-table-wrapper,
#School_District .fixed-th-table-wrapper,
#Special_District .fixed-th-table-wrapper {
  position: absolute;
}
#City .fixed-th-table-wrapper th,
#County .fixed-th-table-wrapper th,
#School_District .fixed-th-table-wrapper th,
#Special_District .fixed-th-table-wrapper th {
  position: relative;
  z-index: 1;
}
#City .scrolled-td-table-wrapper,
#County .scrolled-td-table-wrapper,
#School_District .scrolled-td-table-wrapper,
#Special_District .scrolled-td-table-wrapper {
  overflow-x: auto;
}
#City .scrolled-td-table-wrapper td,
#County .scrolled-td-table-wrapper td,
#School_District .scrolled-td-table-wrapper td,
#Special_District .scrolled-td-table-wrapper td {
  position: relative;
}
#City table,
#County table,
#School_District table,
#Special_District table {
  border-spacing: 0;
}
#City th:first-child,
#County th:first-child,
#School_District th:first-child,
#Special_District th:first-child {
  border-left-width: 1px;
}
#City tr:last-child td,
#County tr:last-child td,
#School_District tr:last-child td,
#Special_District tr:last-child td,
#City tr:last-child th,
#County tr:last-child th,
#School_District tr:last-child th,
#Special_District tr:last-child th {
  border-bottom-width: 1px;
}
@-moz-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
