{% if tabName == 'Financial Health' %}
    <div class="col-sm-4">
        <div class="customGraph" id="public-safety-pie"></div>
        <div class="customGraph" id="fin-health-revenue-graph"></div>
        <div class="customGraph" id="fin-health-expenditures-graph"></div>
    </div>
{% endif %}