<style>
    .disabled {
        cursor: not-allowed;
        color: #BBBBBB;
        background-color: #F3F3F3;
    }

    .pensions {
        width: 70%;
        margin: 0 auto;
    }

    .pension {
        margin-bottom: 20px;
    }

    .pension:last-child {
        margin-bottom: 0;
    }

    .pension-head {
        border: 1px solid #efefef;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: #fafafa;
        padding: 10px;
    }

    .pension-head h2 {
        margin: 0;
    }

    .pension-body {
        border: 1px solid #efefef;
        border-top: none;
        padding: 5px;
        overflow-x: hidden;
    }

    .pension-body-item {
        margin-bottom: 5px;
    }

    .pension-body-item-name {
        font-weight: bold;
        color: #666;
    }
    .pension-body-item-name:after {
        content: ':';
        margin-right: 5px;
    }

    .loader {
        margin: 60px auto;
        font-size: 4px;
        position: relative;
        text-indent: -9999em;
        border-top: 2px solid rgba(200,200,200,0.5);
        border-right: 2px solid rgba(200,200,200,0.5);
        border-bottom: 2px solid rgba(200,200,200,0.5);
        border-left: 2px solid #0b4d70;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 0.7s infinite linear;
        animation: load8 0.7s infinite linear;
    }

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    .loader-wrapper {
        width: 100px;
        overflow: hidden;
        margin: 0 auto;
        display: none;
    }

    /*
        Pensions controls.
    */
    .pensions-controls {
        margin-bottom: 20px;
    }

    .pensions-controls input.styled {
        height: 25px;
        padding: 0;
        box-shadow: inset 0 -1px 0 #ddd;
    }

    .pensions-controls select.styled {
        height: 26px;
        padding: 0 20px 0 10px;
    }

    .pensions-controls input.styled,
    .pensions-controls select.styled {
        border: 0;
        border-radius: 0;
        color: #666;
        appearance: none;
        -webkit-appearance: none;
    }

    .pensions-controls input.styled:focus,
    .pensions-controls select.styled:focus {
        box-shadow: inset 0 -2px 0 #2196f3;
        outline: 0;
    }

    .pensions-controls select.styled {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: right center;
        box-shadow: inset 0 -1px 0 #ddd;
        font-size: 16px;
        line-height: 1.5;
        background-color: transparent;
    }

    .pensions-controls select.styled:focus {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    }

    .btn {
        border-radius: 3px;
        display: inline-block;
        color: #ffffff;
        background-color: #2196f3;
        border: none;
        text-align: center;
        vertical-align: middle;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        background-image: none;
        white-space: nowrap;
        padding: 0px 10px;
        font-size: 13px;
        line-height: 1.846;
        animation-duration: 0.0001s;
        animation-name: mui-btn-inserted;
        height: 26px;
    }

    .btn:hover {
        background-color: #0d87e9;
        color: white;
        border-color: rgba(0,0,0,0);
    }

    .btn:active {
        color: #ffffff;
        background-color: #0c7cd5;
        border-color: rgba(0,0,0,0);
    }

    .pensions-controls .pensions-control {
        display: block;
    }

    /* Paginator */
    .pensions-controls .pensions-paginator {
        height: 28px;
        float: left;
    }

    .pensions-controls .pensions-paginator ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
    }

    .pensions-controls .pensions-paginator > div {
        margin-left: 10px;
        float: left;
        height: 28px;
        line-height: 28px;
    }

    .pensions-controls .pensions-paginator li {
        border: 1px solid #ddd;
        float: left;
        text-align: center;
        margin-right: -1px;
        height: 26px;
        line-height: 26px;
        min-width: 28px;
    }

    .pensions-controls .pensions-paginator li:not([class='pensions-paginator-page']):hover {
        background-color: #eee;
        color: #0a6ebd;
    }

    .pensions-controls .pensions-paginator li:not([class='pensions-paginator-page']) {
        cursor: pointer;
    }

    .pensions-controls .pensions-paginator .pensions-paginator-page {
        padding: 0;
    }

    .pensions-paginator-page input {
        border: 0;
        height: 26px;
        padding: 0;
        padding-left: 5px;
        width: 55px;
        color: #074d71;
    }

    .pensions-control .pensions-paginator li:first-child {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pensions-table-paginator li:last-child {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    /* Selector */
    .pensions-controls .pensions-selector {
        float: right;
    }

    /* Filter */
    .pensions-controls .pensions-filter {
        margin-top: 25px;
        text-align: center;
        clear: both;
    }

    .pensions-filter .btn {
        margin: 5px 0;
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes mui-btn-inserted {
        from {
            -ms-zoom: 1;
        }
        to {
            -ms-zoom:1;
        }
    }

    @media (min-width: 1040px) {
        .pensions .pension .pension-body-item {
            width: 33%;
            float: left;
        }
    }

    @media (max-width: 1039px) {
        .pensions {
            width: 100%;
            margin: 0;
        }

        .pensions .pension .pension-body-item {
            width: 50%;
            float: left;
        }
    }

    @media (max-width: 1039px) and (orientation: portrait) {
        .pensions .pension .pension-body-item {
            width: 100%;
            float: initial;
        }
    }

    @media (max-width: 783px) {
        .pensions {
            width: 100%;
            margin: 0;
        }

        .pensions .pension .pension-body-item {
            width: 100%;
        }

        .pensions-controls .pensions-paginator {
            float: initial;
            text-align: center;
            margin: 0 auto;
        }

        .pensions-controls .pensions-selector {
            float: initial;
            text-align: center;
            margin-top: 10px;
        }

        .pensions-controls .pensions-filter {
            margin-top: 10px;
        }
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css">

<div class="pensions">
    <div class="pensions-controls">

        <div class="pensions-control pensions-paginator">
            <ul>
                <li class="pensions-paginator-first">&lt;&lt;</li>
                <li class="pensions-paginator-previous">&lt;</li>
                <li class="pensions-paginator-page">
                    <input type="number" min="1" max="">
                </li>
                <li class="pensions-paginator-next">&gt;</li>
                <li class="pensions-paginator-last">&gt;&gt;</li>
            </ul>
            <div>
                Per page:
                <select class="pensions-paginator-per-page styled">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">15</option>
                    <option value="100">100</option>
                </select>
                Total: <span class="count"></span>
            </div>
        </div>

        <div class="pensions-control pensions-selector">
            <select multiple="multiple"></select>
            <button class="pensions-selector-apply btn" type="button">
                Apply
            </button>
        </div>

        <div class="pensions-control pensions-filter">
            Filter:
            <select class="pensions-filter-column styled">
                {%- for name, config in fields -%}
                    <option value="{{- name -}}" data-type="{{- config.type -}}">
                        {{- config.title -}}
                    </option>
                {%- endfor -%}
            </select>
            <select class="pensions-filter-operation-string styled">
                <option value="eq">=</option>
                <option value="contains">contains</option>
                <option value="neq">&lt;&gt;</option>
            </select>
            <select class="pensions-filter-operation-number styled">
                <option value="lt">&lt;</option>
                <option value="lte">&lt;=</option>
                <option value="eq">=</option>
                <option value="neq">&lt;&gt;</option>
                <option value="gte">&gt;=</option>
                <option value="gt">&gt;</option>
                <option value="between">between</option>
            </select>
            <input type="text" class="pensions-filter-value styled">
            <input type="text" class="pensions-filter-value-max styled">
            <button class="pensions-filter-button btn" type="button">Filter</button>
            <button class="pensions-filter-button-reset btn" type="button">Reset</button>
        </div>
    </div>
    <div class="pensions-data">
    </div>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
</div>

{%- if(debug) -%}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.js">
    </script>
{%- endif -%}

<script>
    if (! $ && jQuery) {
        window.$ = jQuery;
    }

    var ENDPOINT = '{{- endPoint -}}';

    var Table = (function() {

        var SORT_ORDER = {
            none: null,
            asc: 'asc',
            desc: 'desc'
        };

        /**
         * Contains configuration of pensions columns:
         *  * name - Column name.
         *  * title - Column title in view.
         *  * type - Column data type, may be string, number and currency.
         *  * permanent - Flag, if set this column always exists in result.
         *  * selected - Flag, if set this column will be fetched at
         *    initialization. Permanent fields always will be selected.
         *
         * @type {Object}
         */
        var COLUMNS_DEFINITION = [
            {
                name: 'employee_name',
                title: 'Employee',
                type: 'string',
                permanent: true
            },
            {
                name: 'job_title',
                title: 'Job Title',
                type: 'string',
                permanent: false,
                selected: true
            },
            {
                name: 'employer',
                title: 'Employer',
                type: 'string',
                permanent: false,
                selected: true
            },
            {
                name: 'pension_system',
                title: 'Pension System',
                type: 'string',
                permanent: false,
                selected: true
            },
            {
                name: 'region',
                title: 'Region',
                type: 'string',
                permanent: false,
                selected: false
            },
            {
                name: 'pension_amount',
                title: 'Pension',
                type: 'currency',
                permanent: false,
                selected: false
            },
            {
                name: 'benefits_amount',
                title: 'Benefis',
                type: 'currency',
                permanent: false,
                selected: false
            },
            {
                name: 'disability_amount',
                title: 'Disability',
                type: 'currency',
                permanent: false,
                selected: false
            },
            {
                name: 'total_amount',
                title: 'Total',
                type: 'currency',
                permanent: false,
                selected: false
            },
            {
                name: 'notes',
                title: 'Notes',
                type: 'string',
                permanent: false,
                selected: false
            },
            {
                name: 'total_net_of_one_time_payments',
                title: 'Total Net Of One Time Payments',
                type: 'currency',
                permanent: false,
                selected: true
            },
            {
                name: 'years_of_service',
                title: 'Years Of Service',
                type: 'number',
                permanent: false,
                selected: false
            },
            {
                name: 'year_of_retirement',
                title: 'Year Of Retirement',
                type: 'number',
                permanent: false,
                selected: true
            },
            {
                name: 'year',
                title: 'Year',
                type: 'number',
                permanent: false,
                selected: true
            }
        ];

        var Utils = {

            iteratee: function(name) {
                return function(object) {
                    return object[name];
                }
            },

            property: function(name, value) {
                if (value === undefined) {
                    value = true;
                }

                if ($.isArray(name)) {
                    return function (object) {
                        return !!Utils.findFirst(name, function(_name) {
                            return object[_name] === value;
                        })
                    }
                }

                return function (object) {
                    return object[name] === value;
                }
            },

            filter: function(arr, prop, value) {
                if (! $.isFunction(prop)) {
                    prop = Utils.property(prop, value);
                }

                return $.grep(arr, prop);
            },

            findFirst: function(arr, prop, value) {
                var idx;

                if (! $.isFunction(prop)) {
                    prop = Utils.property(prop, value);
                }

                for (idx in arr) {
                    if (arr.hasOwnProperty(idx) && prop(arr[idx])) {
                        return arr[idx];
                    }
                }

                return null;
            },

            pick: function(arr, prop, values) {
                return $.grep(arr, function (object) {
                    return $.inArray(object[prop], values) !== -1;
                })
            },

            reduce: function(arr, prop) {
                if (! $.isFunction(prop)) {
                    prop = Utils.iteratee(prop);
                }

                return $.map(arr, prop);
            }
        };

        function Table(selector, apiEndPoint) {
            var self = this;

            var filterColumnSelector;
            var columnsSelector;

            this.$el = $(selector);
            this._apiEndPoint = apiEndPoint;
            this._loader = this.$('.loader-wrapper');

            this._state = {
                page: 1,
                maxPerPage: 10,
                pagesCount: 0,
                sort: {
                    column: null,
                    order: SORT_ORDER.none
                },
                filter: {
                    column: 'employee_name',
                    operation: null,
                    value: null
                },
                showedColumns: Utils.filter(COLUMNS_DEFINITION, [
                    'permanent',
                    'selected'
                ])
            };

            // Bind events handler for pagination.
            this.$('.pensions-paginator-first').click(function() {
                self.goTo(1);
            });
            this.$('.pensions-paginator-previous').click(function() {
                self.goTo(self._state.page - 1);
            });
            this.$('.pensions-paginator-next').click(function() {
                self.goTo(self._state.page + 1);
            });
            this.$('.pensions-paginator-last').click(function() {
                self.goTo(self._state.pagesCount);
            });
            this.$('.pensions-paginator-page input').change(function(event) {
                self.goTo(event.target.value);
            });
            this.$('.pensions-paginator-per-page').change(function() {
                self._state.maxPerPage = Number($(this).val());
                self.render();
            });

            // Bind event handlers for filter.
            filterColumnSelector = this.$('.pensions-filter-column');

            this.$('.pensions-filter-button').click(function () {
                self.render();
            });

            this.$('.pensions-filter-button-reset').click(function () {

                self._state.sort.column = null;
                self._state.sort.order = SORT_ORDER.none;
                self._state.filter.column = 'employee_name';
                self._state.filter.operation = null;
                self._state.filter.value = null;
                self._state.maxPerPage = 10;
                self._state.showedColumns = Utils.filter(COLUMNS_DEFINITION, [
                    'permanent',
                    'selected'
                ]);

                self.render();
            });

            filterColumnSelector.change(changeFilterSelectors);
            this.$('.pensions-filter-operation-string')
                    .change(changeFilterSelectors);
            this.$('.pensions-filter-operation-number')
                    .change(changeFilterSelectors);
            this.$('.pensions-filter-value').change(changeFilterSelectors);
            this.$('.pensions-filter-value-max').change(changeFilterSelectors);

            function changeFilterSelectors() {
                var column = filterColumnSelector.val().trim();
                var operation = self._getFilterOperation(column);
                var value = self._getFilterValue(operation);

                self._state.filter.column = column;
                self._state.filter.operation = operation;
                self._state.filter.value = value;

                self._renderFilter();
            }

            // Columns multi selector.
            columnsSelector = this.$('.pensions-selector select');
            $.each(
                Utils.filter(COLUMNS_DEFINITION, 'permanent', false),
                function() {
                    columnsSelector.append(
                            '<option value="'+ this.name +'">'
                            + this.title + '</option>'
                    )
                }
            );

            columnsSelector.multipleSelect({
                filter: true,
                onClick: function() {
                    var permanent = Utils.filter(COLUMNS_DEFINITION, 'permanent');
                    var selected = Utils.pick(
                            COLUMNS_DEFINITION,
                            'name',
                            columnsSelector.multipleSelect('getSelects')
                    );

                    self._state.showedColumns = $.merge(permanent, selected);
                },
                onCheckAll: function() {
                    var permanent = Utils.filter(COLUMNS_DEFINITION, 'permanent');
                    var selected = Utils.pick(
                            COLUMNS_DEFINITION,
                            'name',
                            columnsSelector.multipleSelect('getSelects')
                    );

                    self._state.showedColumns = $.merge(permanent, selected);
                },
                onUncheckAll: function() {
                    var permanent = Utils.filter(COLUMNS_DEFINITION, 'permanent');
                    var selected = Utils.pick(
                        COLUMNS_DEFINITION,
                        'name',
                        columnsSelector.multipleSelect('getSelects')
                    );

                    self._state.showedColumns = $.merge(permanent, selected);
                }
            });

            columnsSelector.multipleSelect(
                'setSelects',
                Utils.reduce(this._state.showedColumns, 'name')
            );

            this.$('.pensions-selector-apply').click(function() {
                self.render();
            });
        }

        $.extend(Table.prototype, {

            $: function (selector) {
                return this.$el.find(selector);
            },

            goTo: function(page) {
                var pagesCount = this._state.pagesCount;

                // Check page bound.
                if ((page < 1) || (page > pagesCount)) {
                    // Do nothing.
                    return;
                }

                this._state.page = page;
                this.render();
            },

            render: function() {
                var self = this;

                this.$('.pensions-data').html('');
                this._loader.show();

                this._query()
                    .done(function (response) {
                        var rows = response.data.rows;
                        var maxPerPage = self._state.maxPerPage;
                        var totalCount = response.data.totalCount;

                        self._state.pagesCount =
                            Math.ceil(totalCount / maxPerPage);

                        self._loader.hide();
                        self._renderData(rows);
                        self._renderPaginator();
                        self._renderFilter();
                    });
            },

            _query: function() {
                var url = this._apiEndPoint;

                var limit = this._state.maxPerPage;
                var offset = (this._state.page - 1) * limit;

                var filterColumn = this._state.filter.column;
                var filterOperation = this._state.filter.operation;
                var filterValue = this._state.filter.value;

                var sortColumn = this._state.sort.column;
                var sortOrder = this._state.sort.order;

                var columns = this._state.showedColumns;

                // Add limit and offset.
                url += '?limit=' + limit + '&offset=' + offset;

                // Add required columns.
                url += '&showedColumns=' + Utils.reduce(columns, 'name').join(',');

                // Add filter field name and value.
                if (filterColumn && filterOperation) {
                    url += '&filterColumn=' + filterColumn + '&filterValue='
                    + filterValue + '&filterOperation=' + filterOperation;
                }

                // Add sort field name and order.
                if (sortColumn && sortOrder) {
                    url += '&sortColumn=' + sortColumn + '&sortOrder='
                    + sortOrder;
                }

                return $.ajax({
                    url: url,
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    }
                });
            },

            _renderPaginator: function() {
                var currentPage = this._state.page;
                var pagesCount = this._state.pagesCount;

                this.$('.pensions-paginator-page input')
                        .val(currentPage)
                        .attr('max', pagesCount);
                this.$('.pensions-paginator .count')
                        .text(pagesCount);

                if (currentPage === 1) {
                    // Hide previous and first button.
                    this.$('.pensions-paginator-first').addClass('disabled');
                    this.$('.pensions-paginator-previous').addClass('disabled');
                } else {
                    // Show previous and first button.
                    this.$('.pensions-paginator-first').removeClass('disabled');
                    this.$('.pensions-paginator-previous').removeClass('disabled');
                }

                if (currentPage === pagesCount) {
                    // Hide next and last button.
                    this.$('.pensions-paginator-next').addClass('disabled');
                    this.$('.pensions-paginator-last').addClass('disabled');
                } else {
                    // Show next and last button.
                    this.$('.pensions-paginator-next').removeClass('disabled');
                    this.$('.pensions-paginator-last').removeClass('disabled');
                }
            },

            _renderFilter: function() {
                var filterColumnSelector = this.$('.pensions-filter-column');
                var filterValueSelector = this.$('.pensions-filter-value');
                var filterValueMaxSelector = this.$('.pensions-filter-value-max');
                var filterOperationString =
                        this.$('.pensions-filter-operation-string');
                var filterOperationNumber =
                        this.$('.pensions-filter-operation-number');

                var value = this._state.filter.value;
                var operation = this._state.filter.operation;

                var columnDefinition = Utils.findFirst(
                    COLUMNS_DEFINITION,
                    'name',
                    this._state.filter.column
                );

                if (columnDefinition.type === 'string') {
                    filterOperationNumber.hide();
                    filterOperationString.show();
                } else {
                    filterOperationNumber.show();
                    filterOperationString.hide();
                }

                if (operation === 'between') {
                    filterValueMaxSelector.show();
                } else {
                    filterValueMaxSelector.val('').hide();
                }

                // Show only columns which exists in showed columns.
                filterColumnSelector.find('option').hide();
                $.each(this._state.showedColumns, function () {
                    filterColumnSelector
                        .find('[value="'+ this.name +'"]')
                        .show();
                });

                // Update selection.
                if (filterColumnSelector.val() !== columnDefinition.name) {
                    filterColumnSelector
                            .find('[selected]')
                            .removeAttr('selected');

                    filterColumnSelector
                            .find('[value="' + columnDefinition.name + '"]')
                            .attr('selected', true);
                }

                if (value && value.indexOf(',') !== -1) {
                    value = value.split(',');

                    filterValueSelector.val(value[0]);
                    filterValueMaxSelector.val(value[1]);
                } else {
                    filterValueSelector.val(value);
                }
            },

            _renderData: function(data) {
                var self = this;
                var view = this.$('.pensions-data');

                $.each(data, function () {
                    view.append(self._renderDataRow(this));
                })
            },

            _renderDataRow: function(row) {
                var body = '<div class="pension-body">';
                var columns = Utils.filter(
                        this._state.showedColumns,
                        Utils.property('permanent', false)
                );


                $.each(columns, function () {
                    var formattedName = this.name + '_formatted';

                    if (this.type === 'currency') {

                        row[this.name] = (row[formattedName])
                            ? '$&nbsp;' + row[formattedName]
                            : null;
                    }

                    body += '<div row-name="'+ this.name
                        + '" class="pension-body-item">'
                        +   '<span class="pension-body-item-name">'
                        +       this.title
                        +   '</span>'
                        +   '<span class="pension-body-item-value">'
                        +       (row[this.name] || '')
                        +   '</span>'
                        +'</div>';
                });

                body += '</div>';

                return '<div class="pension">'
                    + '<div class="pension-head">'
                    +   '<h2>'+ (row['employee_name'] || '') +'</h2>'
                    + '</div>'
                    + body
                    + '</div>';
            },

            _getFilterOperation: function (filterName) {
                var type = Utils
                    .findFirst(COLUMNS_DEFINITION, 'name', filterName)
                    .type;

                if (type === 'currency') {
                    type = 'number';
                }

                return this.$('.pensions-filter-operation-' + type).val();
            },

            _getFilterValue: function (filterOperation) {
                var value = this.$('.pensions-filter-value').val().trim();

                if (filterOperation === 'between') {
                    value += ','
                        + this.$('.pensions-filter-value-max').val().trim();
                }

                return value;
            }

        });

        return Table;
    }());

    window.table = new Table('.pensions', ENDPOINT);
    window.table.render();
</script>