{#
    Modal window template.
#}
<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {%- block title -%}{%- endblock -%}
            </div>
            <div class="modal-body">
                {%- block body -%}{%- endblock -%}
            </div>
        </div>
    </div>
</div>