{% for locale in locale_names_list %}
    <a href="{{ govwiki_path('govwiki_frontend_localization_changelocale', {'locale_name': locale.shortName}) }}" style="color: white; padding: 0 2px">{{ locale.shortName|upper }}</a>
{% endfor %}