{% if tabName == 'Employee Compensation' %}
    <div class="col-sm-4">
        <div class="customGraph" id="mobile-median-comp-graph"></div>

        <div class="customGraph" id="mobile-median-pension-graph"></div>
        <div class="customGraph"></div>
    </div>
{% endif %}