
@import "variables";
@import "textHelper";

@import "partials/head/head";
@import "partials/loader";

/* Temporary styles (start) */

.index-page-head {
   margin-bottom: 16px;
}

.index-page-head ul.pagination {
   margin: 0;
}

.btn-beside-pills {
   margin-top: -40px;
   margin-bottom: 10px;
   height: 40px;
   padding: 9px 12px;
}

.label-like {
   font-weight: 700;
}

@mixin mobile-controls() {

   @media (max-width: $screen-sm-max) {
      .controls {
         margin-top: 0;
         margin-bottom: 15px;

         &.btn-group {
            margin-top: 0;
            margin-bottom: 15px;
         }
      }
   }

}

.controls {
   margin: 23px auto;

   &.btn-group {
      margin-top: 23px;
   }
}

@include mobile-controls();

/* Temporary styles (end) */


/* ===================================================== */
/* ======== Customize bootstrap & global styles ======== */
/* ===================================================== */

@import "partials/dropdown-menu/dropdown-menu";

.table {
   .actions {
      min-width: 170px;
   }
}

// Center th cells
.table.text-center th, td {
   text-align: center;
}

.table > thead > tr {

   & > th {
      vertical-align: middle;
   }

   & > td {
      vertical-align: middle;
   }

}

.table > tbody > tr {

   & > th {
      vertical-align: middle;
   }

   & > td {
      vertical-align: middle;
   }

}

table td.button-row {
   padding: 0 !important;

   .btn {
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
   }
}

/* ===================================================== */
/* =============== Environment styles ================== */
/* ===================================================== */

#environment-styles {
  .style__data-param {
    display: inline-block;
    width: 120px;
    text-align: left;
  }
  .environment-styles__delete {
    color: #ff0000;
    font-size: 16px;
    cursor: pointer;
  }
  .data-value-default {
    margin-left: 26px;
  }
  .color-picker {
    & span {
      padding: 0;
      padding-right: 8px;
    }
  }
  div {
    padding: 10px 0;
  }
  & h5 {
    display: inline-block;
  }

  & input {
    font-size: 12px;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
}

#govwiki_admin_form_styles_properties {
  min-height: 100px;
}

#environment-styles__tabs {
  padding-bottom: 20px;

  & li {
    margin-right: 6px;
  }
}

body .container a.btn-primary,
body .container a.btn-primary:hover {
  color: #fff;
}

.delay-input {
   box-shadow: inset 0 -1px 0 #dddddd;
   -webkit-box-shadow: inset 0 -1px 0 #dddddd;
   padding: 1px;
   width: 200px;

   input {
      border: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 95px;

      &:focus {
         outline: none !important;
         -webkit-box-shadow: none;
         box-shadow: none;
      }
   }

   &:focus {
   }
}