.navbar-branded {
    border-radius: 0px;
    background-color: #0b4d70;
    border-color: #235e7e;
}
.navbar-branded .navbar-brand {
    padding: 0px 15px;
    color: #e3e3e3;
}
.navbar-branded .navbar-brand:hover, .navbar-branded .navbar-brand:focus {
    color: #ffffff;
}
.navbar-branded .navbar-text {
    color: #e3e3e3;
}
.navbar-branded .navbar-nav > li > a {
    color: #e3e3e3;
}
.navbar-branded .navbar-nav > li > a:hover, .navbar-branded .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-branded .navbar-nav > li > .dropdown-menu {
    background-color: #0b4d70;
}
.navbar-branded .navbar-nav > li > .dropdown-menu > li > a {
    color: #e3e3e3;
}
.navbar-branded .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-branded .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #235e7e;
}
.navbar-branded .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #0b4d70;
}
.navbar-branded .navbar-nav > .active > a, .navbar-branded .navbar-nav > .active > a:hover, .navbar-branded .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #235e7e;
}
.navbar-branded .navbar-nav > .open > a, .navbar-branded .navbar-nav > .open > a:hover, .navbar-branded .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #235e7e;
}
.navbar-branded .navbar-nav > li:hover {
    background-color: #235e7e;
}
.navbar-branded .navbar-toggle {
    border-color: #235e7e;
}
.navbar-branded .navbar-toggle:hover, .navbar-branded .navbar-toggle:focus {
    background-color: #235e7e;
}
.navbar-branded .navbar-toggle .icon-bar {
    background-color: #e3e3e3;
}
.navbar-branded .navbar-collapse,
.navbar-branded .navbar-form {
    border-color: #e3e3e3;
}
.navbar-branded .navbar-link {
    color: #e3e3e3;
}
.navbar-branded .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-branded .navbar-nav .open .dropdown-menu > li > a {
        color: #e3e3e3;
    }
    .navbar-branded .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-branded .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-branded .navbar-nav .open .dropdown-menu > .active > a, .navbar-branded .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-branded .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #235e7e;
    }
}
