.index-page-head {
    margin-bottom: 16px;
}

.index-page-head ul.pagination {
    margin: 0px;
}

.btn-beside-pills {
    margin-top: -40px;
    margin-bottom: 10px;
    height: 40px;
    padding: 9px 12px;
}

.label-like {
    font-weight: 700;
}
