<div role="tabpanel" class="tab-pane" id="Contributions">
    <div class="tab-pane-main">
        {% include '@GovWikiFrontend/Partial/Elected/Lists/contributions.html.twig' with {
            'list': contributions
        } %}
    </div>
</div>