<div role="tabpanel" class="tab-pane" id="Endorsements">
    <div class="tab-pane-main">
        {% include 'GovWikiFrontendBundle:Partial/Elected/Lists:endorsements.html.twig' with {
            'list': endorsements
        } %}
    </div>
</div>