<div role="tabpanel" class="tab-pane" id="Surveys">
    <div class="tab-pane-main">
        {% include 'GovWikiFrontendBundle:Partial/Elected/Lists:surveys.html.twig' with {
            'list': surveyResponses
        } %}
    </div>
</div>
