<div class="row footer">

    {# Copyright #}
    <div class="copyright-wrapper col-xs-12 col-sm-6 col-md-8">

        <div class="copyright">
            {#{{ 'footer.copyright'|trans|raw }}#}
        </div>

    </div>

    {# Site links #}
    <div class="col-xs-6 col-sm-3 col-md-2">

        <div class="site-links">
            <a href="http://californiapolicycenter.org">HOME</a>
            <a href="http://californiapolicycenter.org/contact/">CONTACT US</a>
            {#<a href="http://californiapolicycenter.org">{{ 'footer.links.home'|trans|upper }}</a>
            <a href="http://californiapolicycenter.org/contact/">{{ 'footer.links.contact_us'|trans|upper }}</a>#}
        </div>

    </div>

    {# Social links #}
    <div class="col-xs-6 col-sm-3 col-md-2">

        <ul class="social">
            {#{{ 'footer.socials'|trans|raw }}#}
            <li>
                <a target="_blank" href="https://www.facebook.com/CalPolicyCenter" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Facebook">
                    Facebook
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/calpolicycenter" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Twitter">
                    Twitter
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/company/california-policy-center" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Linkedin">
                    Linkedin
                </a>
            </li>
        </ul>

    </div>

</div>



