<div class="row">

    {# Copyright #}
    <div class="col-xs-12 col-sm-6 col-md-8">

        <div class="copyright">
            <p>
                The California Policy Center is a 501c3 non-profit public charity. CA Corp. # 3295222. Federal EIN 27-2870463.
            </p>

            <p>
                Copyright © California Policy Center 2015. All rights reserved
            </p>
        </div>

    </div>

    {# Site links #}
    <div class="col-xs-6 col-sm-3 col-md-2">

        <div class="site-links">
            <a href="http://californiapolicycenter.org">HOME</a>
            <a href="http://californiapolicycenter.org/contact/">CONTACT US</a>
        </div>

    </div>

    {# Social links #}
    <div class="col-xs-6 col-sm-3 col-md-2">

        <ul class="social">
            <li>
                <a target="_blank" href="https://www.facebook.com/CalPolicyCenter" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Facebook">
                    Facebook
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/calpolicycenter" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Twitter">
                    Twitter
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/company/california-policy-center" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Linkedin">
                    Linkedin
                </a>
            </li>
        </ul>

    </div>

</div>



