
/* =============================================== */
/* ====== Overwrite Bootstrap DropDown menu ====== */
/* =============================================== */

.open > .dropdown-menu {
   padding: 0;

   li {
      display: block;
      margin: 0;

      a {
         width: 100%;
      }

   }
}

// Change color for dropdown item
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
   background-color: #4E86B3;
}